{% import "BluemesaSiteTemplateBundle:Macros:show.html.twig" as s %}

{{ s.row("Cloning method", "Gateway") }}
<div class="form-group">
  <a class="control-label col-sm-3 collapse-toggle" data-toggle="collapse" href="#vector">
    <strong>Entry vector</strong>
  </a>
</div>
<div id="vector" class="collapse">
  {{ s.row("Name", method.vector) }}
  {{ s.row("Size", method.vectorSize ~ ((method.vectorSize > 0) ? "kb" : "")) }}
</div>
<div class="form-group">
  <a class="control-label col-sm-3 collapse-toggle" data-toggle="collapse" href="#insert"><strong>Insert</strong></a>
</div>
<div id="insert" class="collapse">
  {{ s.row("Name", method.insert) }}
  {{ s.row("Size", method.insertSize ~ ((method.insertSize > 0) ? "kb" : "")) }}
  {{ s.row("Orientation", method.insertOrientationText) }}
</div>
<div class="form-group">
  <a class="control-label col-sm-3 collapse-toggle" data-toggle="collapse" href="#destinationVector">
    <strong>Destination vector</strong>
  </a>
</div>
<div id="destinationVector" class="collapse">
    {{ s.row("Name", method.destinationVector) }}
    {{ s.row("Size", method.destinationVectorSize ~ ((method.destinationVectorSize > 0) ? "kb" : "")) }}
</div>
