{% extends "BluemesaConstructBundle::layout.html.twig" %}

{% block headline %}Constructs{% endblock headline %}

{% block content_sidebar %}
  {% block sidebar_display %}
    <form class="panel panel-default panel-condensed" action="{{ path('bluemesa_construct_index') }}" method="GET">
      <div class="panel-heading">
        <h3 class="panel-title"><a data-toggle="collapse" href="#dislpay">List options</a></h3>
      </div>
      <ul id="dislpay" class="list-group collapse mobile-collapsed in">
        {% block sidebar_display_filters %}
          <li class="list-group-item">
            <h5>Filters</h5>
            <ul>
              <li>
                <label>
                  <input class="toggle-children" type="radio" name="type" id="type_all" value="all"
                          {{ (filter is not defined or filter.type == 'all') ? 'checked' }} >
                  All constructs
                </label>
              </li>
              <li>
                <label>
                  <input class="toggle-children" type="radio" name="type" id="type_plasmids" value="plasmid"
                          {{ (filter is defined and filter.type == 'plasmid') ? 'checked' }} >
                  Plasmids
                </label>
              </li>
              <li>
                <label>
                  <input class="toggle-children" type="radio" name="type" id="type_genomic" value="genomic"
                          {{ (filter is defined and filter.type == 'genomic') ? 'checked' }} >
                  Genomic constructs
                </label>
              </li>
              <li>
                <label>
                  <input class="toggle-children" type="radio" name="type" id="type_synthetic" value="linear"
                          {{ (filter is defined and filter.type == 'linear') ? 'checked' }} >
                  Linear DNA
                </label>
              </li>
            </ul>
          </li>
        {% endblock sidebar_display_filters %}
        {% block sidebar_display_sort %}
          <li class="list-group-item">
            <h5>Sort by</h5>
            <ul>
              <li>
                <label>
                  <input type="radio" name="sort" id="sort_name" value="name"
                          {{ (filter is not defined or filter.sort == 'name') ? 'checked' }} >
                  Construct name
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" name="sort" id="sort_type" value="type"
                          {{ (filter is defined and filter.sort == 'type') ? 'checked' }} >
                  Construct type
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="order" id="order" value="desc"
                          {{ (filter is defined and filter.order == 'desc') ? 'checked' }} >
                  Descending
                </label>
              </li>
            </ul>
          </li>
        {% endblock sidebar_display_sort %}
        <li class="panel-footer">
          <input type="hidden" name="resolver" value="on">
          <button type="submit" class="btn btn-primary btn-sm btn-block">
            List constructs
          </button>
        </li>
      </ul>
    </form>
  {% endblock sidebar_display %}
  {% block sidebar_actions %}
    <div class="panel panel-default panel-condensed">
      <div class="panel-heading">
        <h3 class="panel-title"><a data-toggle="collapse" href="#actions">Actions</a></h3>
      </div>
      <ul id="actions" class="list-group collapse mobile-collapsed in">
        <a class="list-group-item" href="{{ path('bluemesa_construct_new') }}">New construct</a>
        <a class="list-group-item" href="{{ path('bluemesa_construct_search_search') }}">Search</a>
      </ul>
    </div>
  {% endblock sidebar_actions %}
  {{ parent() }}
{% endblock content_sidebar %}
