{% extends "BluemesaConstructBundle:Construct:layout.html.twig" %}
{% use "BluemesaSiteTemplateBundle:Show:modal.html.twig" %}
{% import "BluemesaSiteTemplateBundle:Macros:show.html.twig" as s %}
{% import 'BluemesaSiteTemplateBundle:Macros:status.html.twig' as status %}

{% block modal_header %}
  #{{ entity.id }} - {{ entity }}
{% endblock modal_header %}

{% block modal_body %}
  {{ s.row("Type", entity.type) }}
  {{ s.row("Resistances", entity.resistancesText) }}
  {{ s.row("Size", entity.size ~ ((entity.size > 0) ? "kb" : "")) }}
  <div class="form-group">
    <label class="control-label col-sm-3">Sequence file</label>
    <div class="col-sm-9">
        <span class="input-text">
          {% if entity.sequenceFile is not empty %}
            <a href="{{ vich_uploader_asset(entity, 'sequenceFile') }}" target="_blank">{{ entity.sequenceFile.filename }}</a>
          {% endif %}
        </span>
    </div>
  </div>
  <div class="form-group">
    <a class="control-label col-sm-3 collapse-toggle" data-toggle="collapse" href="#details"><strong>Details</strong></a>
  </div>
  <div id="details" class="collapse">
    {{ s.row("Notes", entity.notes) }}
  </div>
  <div class="form-group">
    <a class="control-label col-sm-3 collapse-toggle" data-toggle="collapse" href="#vendor"><strong>Vendor information</strong></a>
  </div>
  <div id="vendor" class="collapse">
    {{ s.row("Vendor", entity.vendor) }}
    <div class="form-group">
      <label class="control-label col-sm-3">Info URL</label>
      <div class="col-sm-9">
        <span class="input-text">
          {% if entity.infoURL is not empty %}
            <a href="{{ entity.infoURL }}" target="_blank">{{ entity.infoURL }}</a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  {% include "BluemesaConstructBundle:Construct:" ~ entity.method.name ~ ".html.twig" with {'method': entity.method} %}
{% endblock modal_body %}

{% block modal_footer %}
  {% if is_granted('ROLE_ADMIN') or is_granted('EDIT', entity) %}
    <a href="{{ path('bluemesa_construct_edit', { 'id': entity.id }) }}" class="btn btn-primary">Edit</a>
  {% endif %}
  <a href="{{ path('bluemesa_construct_index') }}" class="btn btn-default">List</a>
{% endblock modal_footer %}
